@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
}

.button {
  @apply text-white font-medium cursor-pointer rounded-md p-1 md:px-4 md:py-1 bg-blue-700 lg:text-lg lg:py-0.5 lg:hover:bg-blue-900;
}
.eachNavLink {
  @apply px-4 py-3 border-0 rounded-md lg:p-2 lg:text-lg;
}
.hoverEffect {
  @apply lg:hover:text-blue-600   lg:hover:shadow-2xs lg:hover:bg-cyan-50 lg:group-hover:[&:not(:hover)]:text-gray-400
  transition-all delay-100 duration-75;
}

.sectionChildren {
  @apply flex flex-col gap-5 px-6 lg:px-20 py-24 text-sm lg:text-lg;
}

.eachStep {
  @apply lg:flex lg:flex-col;
}
.card {
  @apply flex flex-col items-start font-roboto text-base p-3 mt-14 rounded-md flex-1 min-w-[200px] lg:h-60;

  box-shadow: 0 0 2px 5px hsla(0, 0%, 0%, 0.053);
}

.serveCard {
  @apply flex flex-col lg:flex-row justify-between items-center gap-14 text-sm lg:font-roboto lg:text-base;
}

.serveCard:nth-child(even) {
  @apply lg:flex-row-reverse;
}

/*Scroll animation How it works*/

.vert-scroll-animate {
  @apply opacity-0 transition-all duration-75 delay-150 ease-in-out;
}

.vert-scroll-animate:nth-child(odd) {
  @apply translate-x-40 lg:translate-y-80;
}
.vert-scroll-animate:nth-child(even) {
  @apply -translate-x-40 lg:-translate-y-80;
}

.vert-scroll-animate.visible {
  @apply translate-0 opacity-100;
}

/*Scroll animation Who we serve*/
.scroll-animate {
  @apply transition-all opacity-0 duration-300 delay-100 ease-in;
}

.scroll-animate:nth-child(odd) {
  @apply translate-x-40 lg:translate-x-80;
}
.scroll-animate:nth-child(even) {
  @apply -translate-x-40 lg:-translate-x-80;
}

.scroll-animate.visible {
  @apply translate-x-0  opacity-100;
}

.inputWrapper {
  @apply flex flex-col;
}

.label {
  @apply text-sm font-black;
}
.inputField {
  @apply outline-0 border border-gray-400 rounded-md p-1 text-sm bg-gray-100;
}
select {
  appearance: none;
}
